<div class="centerPage">
    <div class="login_contenedor">
        <div class="login_titleBox">
            <h2 class="title-text">Restauraci칩n de contrase침a</h2>
        </div>
        <div class="resetPasswordBox">
            <label class="formLabel" for="email_resetpassword">Correo Electronico</label>
            <div class="formAlign_second">
                <input class="formInput" type="newemail" name="login_newpassword_reset" id="login_email_reset" />
            </div>
            <label class="formLabel" for="email_resetpassword">Nueva contrase침a</label>
            <div class="formAlign_second">
                <input class="formInput" type="newpassword" name="login_newpassword_reset"
                    id="login_newpassword_reset" />
            </div>
        </div>
        <div class="space_margin">
            <button class="btn btn_green" type="button" id="resetPasswordButton">Restaurar contrase침a</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/resetpassword.js"></script>