.chatButton-show {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
}

.chatButton-show-box {
    width: 20%;
    background-color: rgb(73, 63, 108);
    padding: 20px;
    border-radius: 10px; 
    color: aliceblue;
    font-family: 'Saira Stencil One', cursive;
    font-size: 2em;
}

.chat-container-princ {
    display: none;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #888888;
    background-color: white;
}

.chat-title {
    font-family: 'Snippet', sans-serif;
    background-color: #3d67c3;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80%;
    overflow-y: scroll;
    padding: 10px;
}

.user-input {
    padding: 10px;
    border-top: 1px solid #ccc;
}

.user-input input {
    justify-content: flex-end;
    width: 90%;
    height: 20%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: back;
    border: none;
    outline: none;
}

.send-message {
    background-color: gray;
    font-family: 'Snippet', sans-serif;
    border-radius: 5px;
    color: black;
    transition: 0.2s;
}

.send-message:hover {
    background-color: black;
    color: white;
}

.chatLineBoxClient {
    align-self: flex-start;
    background: rgb(117,132,241);
    background: radial-gradient(circle, rgba(117,132,241,1) 0%, rgba(90,76,247,1) 100%);
    padding: 5px 10px; 
    border-radius: 5px;
    margin: 5px 10px;
}

.chatLineBoxServer {
    align-self: flex-end;
    background: rgb(241,117,234);
    background: radial-gradient(circle, rgba(241,117,234,1) 0%, rgba(222,76,247,1) 100%);
    padding: 5px 10px; 
    border-radius: 5px;
    margin: 5px 10px;
}

.chatLineBoxClient, .chatLineBoxServer {
    max-width: 70%;
    word-wrap: break-word; 
}