<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Snippet&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1 class="title">Hola mundo</h1>

        {{{body}}}
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
</html>